<%- include partials/header %>
<html style="box-sizing: border-box; margin: 0; padding: 0;">
  <body style="background-color: #e8eff9; box-sizing: border-box; font-family: 'Open Sans', sans-serif; margin: 0; padding: 30px 0;">
    <div class="mail" style="background-color: #fff; box-sizing: border-box; color: #333; font-size: 16px; margin: 0 auto; max-width: 600px; padding: 25px 15px;">
      <div class="welcome" style="box-sizing: border-box; margin: 0; padding: 0;">
        <div class="welcome__head" style="box-sizing: border-box; margin: 0 0 15px; padding: 0; text-align: center;">
          <div class="welcome__head--img" style="box-sizing: border-box; height: 28px; margin: 0 auto 10px auto; padding: 0; width: 28px;">
            <img src="https://music.fresible.com/images/hooray.png" alt="hooray" class="-u-img-100" style="box-sizing: border-box; height: 100%; margin: 0; padding: 0; width: 100%;">
          </div>
          <div class="welcome__head--text" style="box-sizing: border-box; font-size: 16px; font-weight: 700; margin: 0; padding: 0;">
            <h2 style="box-sizing: border-box; font-family: 'Poppins', sans-serif; font-weight: 700; margin: 0; padding: 0;">Welcome to Fresible Music</h2>
          </div>
        </div>
        <div class="welcome__body" style="box-sizing: border-box; margin: 0; padding: 0 6px;">
          <div style="box-sizing: border-box; margin: 0; margin-bottom: 30px; padding: 0;">
            <h3 class="-u-text-center" style="box-sizing: border-box; font-family: 'Poppins', sans-serif; font-weight: 400; line-height: 1.5em; margin: 0; padding: 0; text-align: center;">Hey <b style="box-sizing: border-box; margin: 0; padding: 0;"><%= firstName %></b>,</h3>
          </div>
          <div style="box-sizing: border-box; margin: 0; margin-bottom: 30px; padding: 0;">
            We are glad you are here. We make it easy for artiste and creatives
            to distribute their music and videos online to as many platforms as
            possible.
          </div>

          <div style="box-sizing: border-box; margin: 0; margin-bottom: 30px; padding: 0;">
            We started our music distribution platform to solve the problem of
            music distribution across Africa, we have partnered with several
            international streaming services to ensure that your music reaches
            millions of listeners.
          </div>
          <div class="-u-text-center" style="box-sizing: border-box; margin: 0; margin-bottom: 30px; padding: 0; text-align: center;">
            <button class="mail-btn" style="background-image: linear-gradient(to right, #c54f40, #170ba7); border: 0; border-radius: 30px; box-sizing: border-box; font-family: inherit; margin: 0; padding: 0;">
              <a href="https://music.fresible.com" class="-u-text-medium" style="box-sizing: border-box; color: #fff; display: block; font-size: 18px; font-weight: normal; margin: 0; padding: 8px 25px; text-decoration: none;">Go to dashboard</a>
            </button>
          </div>
          <div style="box-sizing: border-box; margin: 0; margin-bottom: 30px; padding: 0;">
            We are always available to support and help you at every stage. Do
            not hesitate to contact us.
          </div>
          <div style="box-sizing: border-box; margin: 0; padding: 0;">
            <b style="box-sizing: border-box; margin: 0; padding: 0;">Victor</b> <br style="box-sizing: border-box; margin: 0; padding: 0;">
            Fresible Music
          </div>
        </div>
      </div>
      <%- include partials/footer.ejs %>
    </div>
  </body>
</html>
