<section class="analytics mx-2 mx-md-5">
  <div class="analytics--welcome mb-4 text-center">
    Some stores don’t provide live sales & streaming data, so these reports may
    not reflect your exact final sales figures.
  </div>
  <section class="analytics__info d-flex flex-column flex-md-row">
    <div class="analytics__info__graph pr-md-5">
      <div class="analytics__info__graph__options">
        <div>[FILTER HERE]</div>
      </div>
      <div class="analytics__info__graph--graph">
        <div
          class="analytics__info__graph--graph--container"
          id="analytics-graph-container"
        ></div>
      </div>
    </div>
    <div
      id="analytics-report"
      class="analytics__info__report text-center d-flex align-items-center justify-content-center"
    ></div>
  </section>
  <section
    class="container analytics__table mt-5 bg-white px-2 py-5 p-md-5"
    id="analytics-table"
  >
    <table data-mobile-responsive="true"></table>
  </section>
  <section class="hide" id="analytics-sub-table">
    <table
      style="width: 90%; margin: 0 auto;"
      data-mobile-responsive="true"
    ></table>
  </section>
</section>
