<section class="analytics mx-2 mx-md-5">
  <div class="analytics--welcome mb-4 text-center">
    Welcome to your earnings page. On this page, you will be able to see
    detailed reports about your analytics from all the stores where your songs
    are available. Some stores report sales very late. Sometimes with a 3-4
    months delay. Other stores update royalties every quarter. Kindly bear in
    mind that your minimum payout is N20,000. For more information submit a
    feedback.
  </div>
  <section class="analytics__info d-flex flex-column flex-md-row">
    <div class="analytics__info__graph">
      <div class="analytics__info__graph__options"></div>
      <div
        class="analytics__info__graph--graph"
        id="analytics-graph-container"
      ></div>
    </div>
    <div
      id="analytics-report"
      class="analytics__info__report text-center d-flex align-items-center justify-content-center"
    ></div>
  </section>
  <section
    class="container mt-5 bg-white px-2 py-5 p-md-5"
    id="analytics-table"
  >
    <table data-mobile-responsive="true"></table>
  </section>
  <section class="hide" id="analytics-sub-table">
    <table
      style="width: 90%; margin: 0 auto;"
      data-mobile-responsive="true"
    ></table>
  </section>
</section>
