<section class="view__item" id="information">
  <div class="view__item--title">Your Music Details</div>
  <div class="view__item--body">
    <% if(type === 'track') { %> <%- include trackComp %> <% } %> <% if(type ===
    'video') { %> <%- include videoComp %> <% } %> <% if(type === 'album') { %>
    <%- include albumComp %> <% } %>
  </div>
</section>
