<section class="view__item -u-mw-450" id="package">
  <div class="view__item--title">Release Type</div>
  <div class="view__item--body">
    <form class="form">
      <select class="form__input--element" name="" id="">
        <option value="">Select a release type</option>
        <option value="album">Album</option>
        <option value="single">Single</option>
        <option value="ep">EP</option>
        <option value="others">Others</option>
      </select>
      <button class="view__item--btn btn-primary" type="submit">
        Next &rarr;
      </button>
    </form>
  </div>
</section>
