<section class="pb-5">
  <% const {id, type, status, releaseDate, comment, subscription, user, track,
  album, labelArtist} = pageData %>
  <div class="-u-page">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs custom-tab" id="myTab" role="tablist">
      <li class="nav-item custom-tab__item">
        <a
          class="nav-link custom-tab__item--link active"
          id="release-tab"
          data-toggle="tab"
          href="#release-info"
          role="tab"
          aria-controls="home"
          aria-selected="true"
          >Release Info</a
        >
      </li>
      <li class="nav-item custom-tab__item">
        <a
          class="nav-link custom-tab__item--link"
          id="other-tab"
          data-toggle="tab"
          href="#other-info"
          role="tab"
          aria-controls="home"
          aria-selected="true"
          >Other Info</a
        >
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div
        class="tab-pane active"
        id="release-info"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <% if(type === 'track') { %> <%-
        include("../partials/addMusic/trackComp", { track, labelArtist, user })
        %> <% } else { %> <%- include("../partials/addMusic/albumComp") %> <% }
        %>
      </div>
      <div
        class="tab-pane"
        id="other-info"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <section id="release" class="-u-mw-450 mt-5 mb-5 mx-auto">
          <div class="-u-title mb-4 text-center">Select Release Date</div>
          <form
            class="form"
            data-type="submit"
            data-submitnum="<%= 'submitStatus+1' %>"
          >
            <%- include("../partials/form/input", {formData: {label: `Select
            Date (must be atleast 12 days time)`, required: '*required',
            inputId: 'date-input', inputText: `Note: the timeframe depends on
            the release subscription status`, name: 'releaseDate', type:
            'date'}}) %>
          </form>
        </section>
      </div>
    </div>
  </div>
  <div class="-u-group mb-5">
    <button class="btn-outline w-25 mr-sm-5 mb-4 mb-sm-0">Save</button>
    <button class="btn-primary w-25">Publish</button>
  </div>
</section>
