<div class="complete-profile">
  <form
    class="form -u-form-input-spacing"
    id="complete-profile"
    data-validation="completeProfile"
    data-submitUrl="/complete-profile"
  >
    <div class="form__head">
      <h2></h2>
    </div>
    <div class="alert alert-info">
      We need more information from you to get started, please complete your
      profile by filling the fields below
    </div>
    <div class="form__input">
      <label for="" class="form__input--label"
        ><span>Stage Name</span> <span>*required</span></label
      >
      <input
        type="text"
        name="stageName"
        class="form__input--element"
        required
      />
      <div class="form__input--text"></div>
    </div>
    <div class="form__input">
      <label for="" class="form__input--label"
        ><span>Twitter handle</span></label
      >
      <input type="text" name="twitter" class="form__input--element" />
      <div class="form__input--text">Should contain '@' - e.g @fresible</div>
    </div>
    <div class="form__input">
      <label for="" class="form__input--label"
        ><span>Instagram handle</span></label
      >
      <input type="text" name="instagram" class="form__input--element" />
      <div class="form__input--text">Should contain '@' - e.g @fresible</div>
    </div>
    <div class="form__input">
      <div class="form__input--label">Upload your Avatar (picture)</div>
      <div class="form__file">
        <label for="avatar" class="form__file--label btn-outline"
          >Select Item</label
        >
        <input
          type="file"
          name="avatar"
          id="avatar"
          class="form__file--input"
          accept="image/jpg,image/gif,image/png,image/jpeg"
          data-filelimit="0.50"
          data-filetype="image"
          data-url="<%= Fns.cloudinaryUrl() %>"
          data-public_id="music/avatars/avatar-<%= Fns.token(5) %>"
          data-upload_preset="<%= Fns.cloudinaryUploadPreset %>"
        />
        <div class="form__file--preview">
          <p>No file selected yet (Max size: 500kb)</p>
        </div>
      </div>
    </div>
    <div class="form__input">
      <label for="" class="form__input--label">Record label</label>
      <input type="text" name="label" class="form__input--element" />
      <div class="form__input--text">
        Fill this only if you have a record label
      </div>
    </div>
    <div class="form__input">
      <label for="" class="form__input--label"
        ><span>Phone</span> <span>*required</span></label
      >
      <input type="number" name="phone" class="form__input--element" required />
      <div class="form__input--text">
        Phone number should be in this format - 08030xxxxxx (11 digits)
      </div>
    </div>
    <div class="form__input">
      <label for="" class="form__input--label"
        ><span>Bank</span><span></span>
      </label>
      <input type="text" name="bank" class="form__input--element" />
      <div class="form__input--text"></div>
    </div>
    <div class="form__input">
      <label for="" class="form__input--label"
        ><span>Account Name</span><span></span>
      </label>
      <input type="text" name="bankAccount" class="form__input--element" />
      <div class="form__input--text"></div>
    </div>
    <div class="form__input">
      <label for="" class="form__input--label"
        ><span>Account Number</span><span></span>
      </label>
      <input type="number" name="bankAccountNo" class="form__input--element" />
      <div class="form__input--text"></div>
    </div>

    <div class="form__submit">
      <div></div>
      <button type="submit" class="form__submit--btn btn-primary">
        Submit
      </button>
    </div>
  </form>
</div>
