<div class="-u-page" style="max-width:500px">
  <form class="form -u-form-input-spacing" id="contact" data-mixed="true">
    <div class="alert alert-info">
      Our team will get back to you within 24 hours, do watch your mail box for
      our replies...
    </div>
    <div class="form__input">
      <label for="" class="form__input--label"
        ><span>Subject</span><span>*required</span></label
      >
      <input type="text" class="form__input--element" name="subject" required />
    </div>
    <div class="form__textarea">
      <textarea
        name="content"
        id=""
        class="form__input--element form__textarea--element"
        placeholder="We would love to hear from you..."
        required
      ></textarea>
    </div>
    <div class="form__submit">
      <div></div>
      <button type="submit" class="btn-primary">Send message &rarr;</button>
    </div>
  </form>
  <div class="contact-us--divider"></div>
  <div class="contact-us__contact"></div>
</div>
