<div class="dashboard-main--container">
  <div class="holiday-notice">
    <div class="holiday-notice__title">Holiday release deadlines</div>
    <div class="holiday-notice__content">
      Keep to these deadlines if you'd like your music release over the end of
      year holiday season
    </div>
    <div class="holiday-notice__table-container">
      <table class="table table-hover text-center submissions__table">
        <thead class="submissions__table--head">
          <tr>
            <th>Release Date</th>
            <th>Deadline to upload</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>December 11, 2020</td>
            <td>November 27, 2020</td>
          </tr>
          <tr>
            <td>December 18, 2020</td>
            <td>December 4, 2020</td>
          </tr>
          <tr>
            <td>December 25, 2020</td>
            <td>December 6, 2020</td>
          </tr>
          <tr>
            <td>January 1, 2021</td>
            <td>December 15, 2020</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="dashboard-main -u-grid-mobile">
    <a
      href="/add-music"
      class="dashboard-main__item dashboard-main__item--add-music"
    >
      <div class="dashboard-main__item--icon">
        <span
          class="iconify dashboard-main__item--icon-t"
          data-icon="ion:ios-cloud-upload"
          data-inline="false"
        ></span>
      </div>
      <div class="dashboard-main__item--text">Add Music</div>
    </a>
    <a
      href="/submissions"
      class="dashboard-main__item dashboard-main__item--view-submission"
    >
      <div class="dashboard-main__item--icon">
        <span
          class="iconify dashboard-main__item--icon-t"
          data-icon="mdi:playlist-play"
          data-inline="false"
        ></span>
      </div>
      <div class="dashboard-main__item--text">View submissions</div>
    </a>
    <a
      href="/royalties"
      class="dashboard-main__item dashboard-main__item--view-earning"
    >
      <div class="dashboard-main__item--icon">
        <span
          class="iconify dashboard-main__item--icon-t"
          data-icon="uil:gold"
          data-inline="false"
        ></span>
      </div>
      <div class="dashboard-main__item--text">View earnings</div>
    </a>

    <a
      href="/subscriptions"
      class="dashboard-main__item dashboard-main__item--view-plan"
    >
      <div class="dashboard-main__item--icon">
        <span
          class="iconify dashboard-main__item--icon-t"
          data-icon="mdi-light:view-dashboard"
          data-inline="false"
        ></span>
      </div>
      <div class="dashboard-main__item--text">Your subscriptions</div>
    </a>
  </div>
</div>
