<div class="dashboard-main--container">
  <div class="dashboard-main -u-grid-mobile">
    <a
      href="/add-music"
      class="dashboard-main__item dashboard-main__item--add-music"
    >
      <div class="dashboard-main__item--icon">
        <span
          class="iconify dashboard-main__item--icon-t"
          data-icon="ion:ios-cloud-upload"
          data-inline="false"
        ></span>
      </div>
      <div class="dashboard-main__item--text">Add Music</div>
    </a>
    <a
      href="/submissions"
      class="dashboard-main__item dashboard-main__item--view-submission"
    >
      <div class="dashboard-main__item--icon">
        <span
          class="iconify dashboard-main__item--icon-t"
          data-icon="mdi:playlist-play"
          data-inline="false"
        ></span>
      </div>
      <div class="dashboard-main__item--text">View submissions</div>
    </a>
    <a
      href="/royalties"
      class="dashboard-main__item dashboard-main__item--view-earning"
    >
      <div class="dashboard-main__item--icon">
        <span
          class="iconify dashboard-main__item--icon-t"
          data-icon="uil:gold"
          data-inline="false"
        ></span>
      </div>
      <div class="dashboard-main__item--text">
        View earnings
      </div>
    </a>

    <a
      href="/subscriptions"
      class="dashboard-main__item dashboard-main__item--view-plan"
    >
      <div class="dashboard-main__item--icon">
        <span
          class="iconify dashboard-main__item--icon-t"
          data-icon="mdi-light:view-dashboard"
          data-inline="false"
        ></span>
      </div>
      <div class="dashboard-main__item--text">Your subscriptions</div>
    </a>
  </div>
</div>
