<div class="-u-page select-account" id="selectAccount">
  <div class="-u-mw-450 alert alert-info select-account--alert">
    Are you registering this account as an artiste or as a label?
  </div>
  <section class="select-account__options" data-account_type="artist">
    <div class="select-account__box select-account__box--bg">
      <div>ICON</div>
      <div>An Artiste</div>
    </div>
    <div class="select-account__box" data-account_type="label">
      <div>ICON</div>
      <div>A Label</div>
    </div>
  </section>
</div>
