<div class="-u-page-s">
  <div class="-u-page-s__icon">
    <a href="/add-music"
      ><button class="btn-outline icon-btn">
        <span
          class="iconify"
          data-icon="ic:outline-add"
          data-inline="false"
        ></span
        ><span>New Music</span>
      </button></a
    >
  </div>
  <div class="-u-page" style="margin: 0">
    <%- include partials/submissions %>
  </div>
</div>
