<section class="container wallet -u-page">
  <section class="row wallet__intro">
    <div class="col-md-6 text-center text-md-left">
      Welcome to your wallet, <b>Hope</b>
    </div>
    <div class="col-md-4 offset-md-2 text-center text-md-right mt-3 mt-md-0">
      <button class="btn-outline">FUND WALLET</button>
    </div>
  </section>
  <section class="row wallet__info">
    <div class="col-md-3 mb-5 mb-md-0">
      <div class="wallet__balance">
        <div class="wallet__balance--text">Wallet Balance</div>
        <div class="wallet__balance--amount">N10,000</div>
      </div>
    </div>
    <div class="col-md-8 offset-md-1 wallet__history">
      <div class="wallet__history--title">Transactions</div>
      <div class="wallet__history__table">
        <table class="table">
          <thead>
            <tr>
              <td>#</td>
              <td>Info</td>
              <td>Amount</td>
              <td>Date</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Paystack Credit</td>
              <td class="text-success">N4000</td>
              <td>2020-10-12 6:10pm</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Withdrawal</td>
              <td class="text-danger">N4000</td>
              <td>2020-10-11 8:10pm</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</section>
