<div class="-u-page select-account">
  <div class="-u-mw-450 alert alert-info select-account--alert">
    Are you registering this account as an artiste or as a label?
  </div>
  <section class="select-account__options">
    <div
      class="select-account__box select-account__box--bg"
      data-account_type="artist"
      id="selectAccount-artist"
    >
      <div class="select-account__box--icon">
        <span class="iconify" data-icon="vs:profile" data-inline="false"></span>
      </div>
      <div class="select-account__box--text">An Artiste</div>
    </div>
    <div
      class="select-account__box"
      id="selectAccount-label"
      data-account_type="label"
    >
      <div class="select-account__box--icon">
        <span class="iconify" data-icon="cil:people" data-inline="false"></span>
      </div>
      <div class="select-account__box--text">A Label</div>
    </div>
  </section>
</div>
