<section class="wallet-pay">
  <div class="alert alert-info">
    Your wallet balance will be updated when payment is confirmed.
  </div>
  <form class="form -u-form-input-spacing">
    <div class="form__input">
      <label for="" class="form__input--label"
        >I want to fund my wallet with</label
      >
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">₦</span>
        </div>
        <input type="text" class="form__input--element form-control" />
      </div>
    </div>
    <div class="text-right">
      <button class="btn-primary p-2 -u-font-normal">Fund</button>
    </div>
  </form>
</section>
