<div class="container releaseDate">
  <div class="row">
    <div class="col-xs-12 col-md-6 releaseDate__left">
      <h5>
        <span
          class="iconify"
          style="font-size: 23px;"
          data-icon="entypo:info-with-circle"
          data-inline="false"
        ></span>
        <span>Changes to Releases this Holiday:</span>
      </h5>
      <div>
        Kindly note that that from November 1st 2019 Until January 5th, 2020,
        the major online stores including Apple Music, Spotify and iTunes will
        enforce deadlines for uploading your music. Uploading your tracks after
        the deadlines may delay your release date.
      </div>
    </div>
    <div class="col-xs-12 col-md-6 row releaseDate__right">
      <div class="col">
        <h5>Release Date</h5>
        <ul>
          <li>Before 23rd November 2019</li>
          <li>Before 30th November 2019</li>
          <li>Before 7th December 2019</li>
          <li>Before 14th December 2019</li>
          <li>Before 22nd December 2019</li>
          <li>Before 29th December 2019</li>
          <li>Before 5th January 2019</li>
        </ul>
      </div>
      <div class="col">
        <h5>Upload Deadline</h5>
        <ul>
          <li>Friday 15th November, 2019</li>
          <li>Friday 15th November, 2019</li>
          <li>Friday 22nd November, 2019</li>
          <li>Friday 6th December, 2019</li>
          <li>Friday 6th December, 2019</li>
          <li>Friday 13th December, 2019</li>
          <li>Friday 13th December, 2019</li>
        </ul>
      </div>
    </div>
  </div>
</div>
