<div class="mail__footer" style="box-sizing: border-box; font-size: 13px; margin: 15px 0 30px; padding: 0;">
  <hr class="mail__footer--divider" style="box-sizing: border-box; margin: 0; margin-bottom: 4px; padding: 0;">
  <div class="mail__footer__box" style="box-sizing: border-box; display: block; height: auto; margin: 0; margin-bottom: 4px; padding: 0; width: 100%;">
    <div class="mail__footer__box__left" style="box-sizing: border-box; display: inline-block; margin: 0; padding: 0; text-align: left; width: 49%;">
      <img src="https://music.fresible.com/images/logo-1.png" alt style="box-sizing: border-box; height: auto; margin: auto 0; object-fit: contain; object-position: left; padding: 0; width: 100px;">
    </div>
    <div class="mail__footer__box__right" style="box-sizing: border-box; display: inline-block; margin: 0; padding: 0; text-align: right; width: 49%;">
      <div style="box-sizing: border-box; margin: 0; margin-bottom: 2px; padding: 0;"><b style="box-sizing: border-box; margin: 0; padding: 0;">@fresiblemusic</b></div>
      <div style="box-sizing: border-box; margin: 0; padding: 0;">
        <div class="social__container" style="box-sizing: border-box; margin: 0; margin-right: 15px; padding: 0;">
          <div class="social__container--icon" style="box-sizing: border-box; display: inline-block; height: 20px; margin: 0; padding: 0; width: 20px;">
            <a href="https://fb.me/fresiblemusic" style="box-sizing: border-box; color: inherit; font-weight: normal; margin: 0; padding: 0; text-decoration: underline;"><img src="https://music.fresible.com/images/facebook.png" alt="facebook" class="social__container--icon-img" style="box-sizing: border-box; height: 100%; margin: 0; padding: 0; width: 100%;"></a>
          </div>
          <div class="social__container--icon" style="box-sizing: border-box; display: inline-block; height: 20px; margin: 0; padding: 0; width: 20px;">
            <a href="https://twitter.com/fresiblemusic" style="box-sizing: border-box; color: inherit; font-weight: normal; margin: 0; padding: 0; text-decoration: underline;"><img src="https://music.fresible.com/images/twitter.png" alt="twitter" class="social__container--icon-img" style="box-sizing: border-box; height: 100%; margin: 0; padding: 0; width: 100%;"></a>
          </div>
          <div class="social__container--icon" style="box-sizing: border-box; display: inline-block; height: 20px; margin: 0; padding: 0; width: 20px;">
            <a href="https://instagram.com/fresiblemusic" style="box-sizing: border-box; color: inherit; font-weight: normal; margin: 0; padding: 0; text-decoration: underline;"><img src="https://music.fresible.com/images/instagram.png" alt="instagram" class="social__container--icon-img" style="box-sizing: border-box; height: 100%; margin: 0; padding: 0; width: 100%;"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mail__footer--foot-text" style="box-sizing: border-box; font-weight: 600; margin: 25px 0 0; padding: 0; text-align: center;"><p style="box-sizing: border-box; margin: 0; padding: 0;">&copy; Fresible Limited</p></div>
</div>
