/////////////////////////ACCOUNT PAGE
.account {
  position: relative;
  display: flex;
  min-height: 100vh;
  overflow-y: hidden;

  &__left {
    flex: 1;
    position: relative;
    color: #fff;
    min-height: 100%;
    overflow: hidden;

    &__overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      padding: 10px 20px;
      flex-direction: column;
      justify-content: space-between;
      z-index: 10;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.4);
      &__logo {
        width: 150px;
        height: 80px;
        margin: 0 auto;
        & > * {
          object-fit: contain;
        }
      }
      &__body {
        text-align: center;
        max-width: 500px;
        margin: 0 auto;
        & > * {
          &:last-child {
            margin-top: 18px;
            line-height: 25px;
            font-size: 15px;
          }
        }
      }
      &__footer {
        @include footer;
      }
    }
  }

  &__right {
    position: relative;
    flex: 1.2;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__mobile {
      &-header,
      &-footer {
        display: none;
      }
    }
    &__main {
      flex: 1;
      max-width: 40rem;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      color: $color-light-black;
    }
    &__mobile__footer {
      display: none;
    }
  }

  @media screen and (max-width: $sm) {
    &__left {
      display: none;
    }
    &__right {
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      min-height: 100%;
      background-color: $color-dark-blue-primary;
      color: $color-white;
      padding: 3rem 1.5rem 1rem;
      &__mobile {
        &-header,
        &-footer {
          display: block;
        }
        &-header {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          h1 {
            display: inline-block;
            margin-bottom: 1.7rem;
          }
        }
        &-footer {
          width: 100%;
          text-align: center;
        }
      }
      &__main {
        flex: 0;
        width: 100%;
      }
      & > * {
        &:not(:last-child) {
          margin-bottom: 2rem;
        }
      }
    }
  }
}

.royalties {
  margin: 20px 0 40px;
  &_container {
    min-height: 40rem;
  }

  &__info {
    &__graph {
      flex: 3;
      display: flex;
      position: relative;
      &__container {
        flex: 1;
        &__graph {
          height: 100%;
          flex: 3;
          padding: 15px 15px 0 0;
        }
        &__report {
          flex: 1;
          border-left: 1px solid $color-light-grey;
          padding: 1.5rem 1.5rem 0;
          &__notice {
            &__title {
              font-size: 1.3rem;
              font-weight: 600;
            }
            &__text {
              font-size: 1.1rem;
            }
          }
        }
      }
      &__inactive {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 10;
        &--msg {
          max-width: 400px;
          border: 2px solid $color-primary;
          padding: 20px 15px;
          text-align: center;
          line-height: 3rem;
          & > * {
            &:first-child {
              font-weight: 600;
              font-size: 1.6rem;
            }
          }
        }
      }

      &--inactive {
        & > * {
          &:first-child {
            filter: blur(3px);
          }
          &:last-child {
            visibility: visible;
          }
        }
      }
    }
    &__money {
      flex: 0.86;
    }
  }

  &__inject {
    margin: 2rem 0;
    & > * {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
    &__charts {
      display: flex;
      &__item {
        flex: 1;
        min-height: 40rem;
        display: flex;
        flex-direction: column;
        background-color: $color-white;
        @include border($color-light-grey);
        padding: 1rem;
        &:not(:last-child) {
          margin-right: 2rem;
        }
        &__title {
          margin-bottom: 3rem;
        }
        &__element {
          flex: 1;
        }
        &__store-list {
          margin-top: 1rem;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 1rem;
        }
      }
      @media screen and (max-width: $sm) {
        flex-direction: column;
        &__item {
          &:not(:last-child) {
            margin: 0;
            margin-bottom: 2rem;
          }
        }
      }
    }
    &__table {
      &__header {
        overflow-x: auto;
        &__tabs {
          flex-wrap: nowrap;
          & > * {
            & a.active {
              background-color: inherit !important;
            }
          }
        }
      }
    }
  }
}

.royalty-wallet {
  max-width: 30rem;
  min-height: 33rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  background-color: white;
  margin: 0 auto;
  & > * {
    flex: 1;
  }
  &__footer {
    width: 100%;
    display: flex;
    text-align: center;
    border-top: 1px solid $color-light-grey;
    &__item {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      font-size: 1.2rem;
      line-height: 2.5rem;
      &--money {
        font-weight: 600;
        font-size: 1.5rem;
      }
    }
    & > * {
      &:not(:last-child) {
        border-right: 1px solid $color-light-grey;
      }
    }
  }
}

////////////////////////////////////////////////////
.analytics {
  margin: 20px 0 40px;

  &__info {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    & > * {
      min-height: 30rem;
    }
    &__graph {
      flex: 3;
      position: relative;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      &__options {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &--graph {
        height: 100%;
        position: relative;
        flex: 3;
        display: flex;
        &--container {
          flex: 1;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }
    &__report {
      flex: 1.4;
      @media screen and (min-width: $sm) {
        border-left: 1px solid $color-light-grey;
      }
    }
  }

  &__table {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 2rem;
  }

  &--view-btn {
    border: 0;
    padding: 0;
    background-color: inherit;
    font-size: 1.9rem;
    color: $color-primary;
    &:focus {
      padding: 0;
    }
  }

  &--range {
    &-invalid,
    &-up,
    &-down {
      font-weight: 600;
      color: rgba(#000, 0.6);
    }
    &-up,
    &-down {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-up {
      color: $green;
    }
    &-down {
      color: $red;
    }
  }
  &__card {
    flex: 1;
    min-height: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    &:not(:last-child) {
      margin-right: 3rem;
    }
    &--icon {
      font-weight: 600;
      font-size: 6rem;
    }
    &--number {
      font-weight: 600;
      font-size: 4rem;
    }
    @media screen and (max-width: $sm) {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 3rem;
      }
    }
  }
  &__date {
    position: relative;
    &--input {
      position: absolute;
      left: 0;
      width: 0;
      opacity: 0;
      z-index: 1;
    }
    &--btn {
      position: relative;
      left: 0;
      z-index: 2;
    }
  }

  &__empty {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &__alert {
      & > * {
        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}

///////////////////////////////////////////
//ANALYTICS ADD

.analyticsAdd {
  &__panel {
    @include border($color-light-grey);
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    &__body {
      background-color: $color-background;
      padding: 1.5rem 0;
    }
    &__heading {
      &__link {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0.6rem;
        border-bottom: 1px solid $color-light-grey;
        & .iconify {
          font-size: 2rem;
          color: $color-light-grey;
        }
        &--text {
          font-weight: 600;
          color: $color-light-black;
        }
      }
    }
  }
  &__option {
    padding: 1rem 0;
    &:first-child {
      margin-right: 1.5rem;
      padding-right: 1.5rem;
      border-right: 1px solid $color-light-grey;
      @media screen and (max-width: $sm) {
        border: 0;
        margin: 0;
        padding: 0;
      }
    }
    &--title {
      display: inline-block;
      width: auto;
      border-bottom: 1px solid $color-light-grey;
      font-weight: 600;
      color: rgba($color-light-black, 0.6);
      margin-bottom: 1rem;
    }

    &--icon {
      align-self: center;
      margin-right: 1rem;
      padding: 0.5rem 1rem;
      font-size: 1.7rem;
      font-weight: 600;
      @include border($color-light-grey);
    }

    &__container {
      & > * {
        display: flex;
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
      &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & > * {
          flex: 1;
          &:not(:last-child) {
            margin-right: 2rem;
          }
        }
        &--delete {
          flex: 0.1;
          font-size: 2rem;
          border: none;
          background-color: inherit;
          color: rgba($color-light-black, 0.5);
          cursor: pointer;
        }
      }
    }
  }
}

//////////////>>>>>> ANALYTICS-INITIATE
.analyticsInitiate {
  @include border($color-light-grey);
  max-width: 50rem;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  &__container {
    flex: 1;
    padding: 0.7rem 2rem;
  }
  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid $color-light-grey;
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;
    font-weight: 600;
    &--btn {
      background-color: inherit;
      @include border($color-light-grey);
      padding: 0 0.6rem;
    }
  }
  &__body {
    text-align: center;
    &__list {
      list-style: none;
      &--item {
        display: inline-flex;
        width: auto;
        font-size: 1.3rem;
        background-color: $color-light-grey;
        padding: 0.3rem 0.7rem;
        border-radius: 2rem;
        &:not(:last-child) {
          margin-bottom: 0.7rem;
        }
      }
    }
  }

  &__stores {
    padding: 2rem 1rem;
    @include border($color-light-grey);
    &__list {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-content: center;
      grid-gap: 1rem 2rem;
      & > * {
        display: inline-block;
        & span {
          margin-left: 0.8rem;
        }
      }
    }
  }
}

///////////////////// ROYALTIES
.royaltiesInitiate {
  max-width: 60rem;
}

.royaltiesAdd {
  max-width: 90rem;
}

///////////////// ----> SUBMISSION <----------//////////////

.submission {
  max-width: 800px;
  &__alert {
    max-width: 400px;
    margin: 0 auto;
    &__comment {
      position: relative;
      &--pen {
        position: absolute;
        width: auto;
        z-index: 10;
        right: 2px;
        top: 0;
        color: rgba($color-light-black, 0.8);
        font-size: 15px;
        cursor: pointer;
      }
      &--text {
        width: 100%;
      }
    }
  }
  &--link {
    max-width: 400px;
    margin: 0 auto;
    a,
    a:hover,
    a:active {
      text-decoration: underline;
      font-weight: 600;
    }
  }
  &__body {
  }
  &__details {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    & > * {
      @include border($color-light-grey);
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
    &__overview,
    &__options {
      min-height: 30rem;
      // background-color: white;
      @include border($color-light-grey);
    }
    &__overview {
      flex: 2;
      display: flex;
      margin-bottom: 3rem;
      padding: 3rem;
      &__image {
        flex: 1;
        width: 100%;
        overflow: hidden;
        &__container {
          // @include border($color-light-grey);
          padding: 0.6rem;
          height: 100%;
          width: 100%;
          max-height: 20rem;
          // overflow: hidden;
          &--img {
            object-fit: cover;
            object-position: center;
          }
        }
      }
      &__info {
        flex: 2;
        &--title {
          margin-bottom: 3rem;
          line-height: 1.6rem;
          font-size: 1.8rem;
        }
      }
    }
    &__options {
      flex: 1;
      & > * {
        &:not(:last-child) {
          margin-bottom: 3rem;
        }
      }
    }
  }
  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    flex: 1;
    grid-gap: 4rem;
    &__item {
      &--title {
        text-transform: uppercase;
        font-size: 1.1rem;
      }
      &--details {
        font-size: 1.4rem;
        text-transform: capitalize;
      }
    }
  }
  &__link {
    padding: 0 2rem;
    @include border($color-light-grey);
    &__left {
      flex: 2;
    }
    &__right {
      flex: 1;
    }
  }
}

///////////////// ----> ADD MUSIC <----------//////////////

.add-music {
  display: flex;
  min-height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  &--container {
    display: flex;
    width: 100%;
    padding: 40px;
    margin: 40px;
    margin-bottom: 60px;
    background-color: $color-white;
    box-shadow: 0px 1px 13px -5px rgba(2, 3, 10, 1);
    border-radius: 10px;
  }
  &__actions {
    flex: 1;
  }
  &__view {
    flex: 3;
    border-left: 1px solid #efefef;
  }

  &__release-info {
    margin: 2rem auto;
    &__item {
      &--title {
        margin-bottom: 1.5rem;
        font-size: 1.4rem;
        font-weight: 600;
        color: rgba($color-light-black, 0.6);
        border-bottom: 1px solid $color-light-grey;
      }
      &__body {
        & > * {
          &:not(:last-child) {
            margin-bottom: 1.5rem;
          }
        }
        &--artwork {
          width: 100%;
          border: 1px dashed $color-light-grey;
          padding: 1.5rem;
        }
      }
      &:not(:last-child) {
        margin-bottom: 4rem;
      }
    }
  }

  &__distribution {
    max-width: 700px;
    margin: 0 auto;
    &__store-options {
      & > * {
        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
        &:last-child {
          color: rgba($color-light-black, 0.8);
          font-size: 1.3rem;
        }
      }
      @media screen and (max-width: $sm) {
        margin-bottom: 2.5rem;
      }
    }
  }

  @media only screen and (max-width: $sm) {
    &--container {
      display: block;
      padding: 30px 10px;
      margin-left: 0;
      margin-right: 0;
    }
    &__view {
      border: 0;
      padding: 0;
      border-top: 2px solid rgba(grey, 0.4);
      padding-top: 20px;
      margin-top: 30px;
      width: 100%;
    }
  }
  &__next {
    margin: 30px 0;
    margin-right: 10px;
  }
}

///////////////// ----> PROFILE <----------//////////////
.profile {
  display: flex;
  justify-content: space-between;
  a {
    font-weight: normal;
  }
  &__left {
    flex: 1;
    padding: 0 2rem;
    & > * {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    &__avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 1px solid $color-light-black;
      overflow: hidden;
      & > * {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    &__options {
      margin-top: 2rem;
      padding: 1rem;
      width: 100%;
      @include border($color-light-grey);
      & > * {
        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }
      &__btn {
        &--btn {
          padding: 0.1rem 0.3rem;
          font-weight: normal;
        }
      }
    }
    &__manage-artists {
      border: 1px dashed rgba(grey, 0.8);
      padding: 5px 3px;
      margin-right: 30px;
    }
  }
  &__right {
    flex: 2;
    border-left: 1px solid rgba(grey, 0.4);
    padding-left: 40px;
    &__list {
      list-style: none;
      &__item {
        & > * {
          display: inline-block;
          &:last-child {
            margin-left: 15px;
            color: grey;
          }
        }
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
  }

  @media only screen and (max-width: $sm) {
    display: block;
    &__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 25px;
    }
    &__right {
      border: 0;
      border-top: 1px solid rgba(grey, 0.4);
      padding: 20px 0;
    }
  }
}
