.royalties {
  margin: 20px 0 40px;
  &_container {
    min-height: 40rem;
  }

  &__info {
    &__graph {
      flex: 3;
      position: relative;
      &__container {
        height: 100%;
        &.blur {
          filter: blur(3px);
        }
        &--graph {
          flex: 3;
          padding: 15px 15px 0 0;
        }
        &--report {
          flex: 1;
          border-left: 1px solid $color-light-grey;
          padding: 1.5rem 1.5rem 0;
        }
      }
      &__inactive {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 10;
        &--msg {
          max-width: 400px;
          border: 2px solid $color-primary;
          padding: 20px 15px;
          text-align: center;
          line-height: 3rem;
          & > * {
            &:first-child {
              font-weight: 600;
              font-size: 1.6rem;
            }
          }
        }
      }
    }
    &__money {
      flex: 0.86;
    }
  }
}

.royalty-wallet {
  max-width: 30rem;
  min-height: 33rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  background-color: white;
  margin: 0 auto;
  & > * {
    flex: 1;
  }
  &__footer {
    width: 100%;
    display: flex;
    text-align: center;
    border-top: 1px solid $color-light-grey;
    &__item {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      font-size: 1.2rem;
      line-height: 2.5rem;
      &--money {
        font-weight: 600;
        font-size: 1.5rem;
      }
    }
    & > * {
      &:not(:last-child) {
        border-right: 1px solid $color-light-grey;
      }
    }
  }
}

////////////////////////////////////////////////////
.analytics {
  margin: 20px 0 40px;

  &__info {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    & > * {
      min-height: 30rem;
    }
    &__graph {
      flex: 3;
      position: relative;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      &__options {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &--graph {
        height: 100%;
        position: relative;
        flex: 3;
        display: flex;
        &--container {
          flex: 1;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }
    &__report {
      flex: 1.4;
      @media screen and (min-width: $sm) {
        border-left: 1px solid $color-light-grey;
      }
    }
  }

  &__table {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 2rem;
  }

  &--view-btn {
    border: 0;
    padding: 0;
    background-color: inherit;
    font-size: 1.9rem;
    color: $color-primary;
    &:focus {
      padding: 0;
    }
  }

  &--range {
    &-invalid,
    &-up,
    &-down {
      font-weight: 600;
      color: rgba(#000, 0.6);
    }
    &-up,
    &-down {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-up {
      color: $green;
    }
    &-down {
      color: $red;
    }
  }
}

///////////////////////////////////////////
//ANALYTICS ADD

.analyticsAdd {
  &__panel {
    @include border($color-light-grey);
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    &__body {
      background-color: $color-background;
      padding: 1.5rem 0;
    }
    &__heading {
      &__link {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0.6rem;
        border-bottom: 1px solid $color-light-grey;
        & .iconify {
          font-size: 2rem;
          color: $color-light-grey;
        }
        &--text {
          font-weight: 600;
          color: $color-light-black;
        }
      }
    }
  }
  &__option {
    padding: 1rem 0;
    &:first-child {
      margin-right: 1.5rem;
      padding-right: 1.5rem;
      border-right: 1px solid $color-light-grey;
      @media screen and (max-width: $sm) {
        border: 0;
        margin: 0;
        padding: 0;
      }
    }
    &--title {
      display: inline-block;
      width: auto;
      border-bottom: 1px solid $color-light-grey;
      font-weight: 600;
      color: rgba($color-light-black, 0.6);
      margin-bottom: 1rem;
    }

    &--icon {
      align-self: center;
      margin-right: 1rem;
      padding: 0.5rem 1rem;
      font-size: 1.7rem;
      font-weight: 600;
      @include border($color-light-grey);
    }

    &__container {
      & > * {
        display: flex;
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
      &__item {
        & > * {
          width: 50%;
          &:last-child {
            margin-left: 2rem;
          }
        }
      }
    }
  }
}
