$color-primary: #0050bf;
$color-secondary: #0075bf;
$color-white: #fff;
$color-dark-blue-primary: #011b33;
$color-dark-blue-secondary: #1a1a26;
$color-light-grey: #ddd;
$color-background: #eff0f6;
$color-light-black: #333;
$sm: 780px;
$color-border: #ddd;

///////BOOTSTRAP
$font-size-base: 1.5rem !default;
$table-cell-padding: 1rem !default;
$table-cell-padding-sm: 0.4rem !default;

//SWEETALERT
.swal2-popup {
  font-size: 1.6rem !important;
}

@import "custom";
@import "mixins";
@import "utilities";
@import "components";
@import "dashboard";
@import "adminComps";
@import "popups";
@import "root";
@import "bootstrap-customized";
@import "pages";
