<section class="royalties mx-2 mx-md-5">
  <div class="royalties--welcome mb-4 text-center">
    Welcome to your earnings page. On this page, you will be able to see
    detailed reports about your royalties from all the stores where your songs
    are available. Some stores report sales very late. Sometimes with a 3-4
    months delay. Other stores update royalties every quarter. Kindly bear in
    mind that your minimum payout is N20,000. For more information submit a
    feedback.
  </div>
  <div class="royalties__container">
    <section class="royalties__info d-flex flex-column flex-md-row">
      <div class="mb-4 mb-md-0 mr-md-5 bg-white royalties__info__graph">
        <div
          class="royalties__info__graph__container blur d-flex flex-column flex-md-row"
        >
          <div
            class="royalties__info__graph__container--graph"
            id="royalties-graph-container"
          ></div>
          <div class="royalties__info__graph__container--report text-center">
            <div class="mb-3 -u-font-bold">Monthly Report</div>
            <div class="mb-3 -u-font-small-light">
              Last reporting months <br />
              total earnings
            </div>
            <div class="mb-3 -u-font-big">&#8358;0.00</div>
            <div class="alert alert-info">
              Some stores report sales with up to a month delay. When we receive
              your sales you'll be able to collect of earnings.
            </div>
          </div>
        </div>
        <div
          class="d-flex align-items-center justify-content-center royalties__info__graph__inactive"
        >
          <div class="royalties__info__graph__inactive--msg">
            <div class="mb-4">Check back soon</div>
            <div>
              We haven’t received any sales reports from stores for your
              releases just yet. This dashboard will update as soon as we
              receive and process them.
            </div>
          </div>
        </div>
      </div>
      <div class="royalties__info__money mt-3 mt-md-0">
        <section class="royalty-wallet">
          <div class="-u-font-bold">Available Balance</div>
          <div class="-u-font-small-light">
            Your available balance to withdraw is:
          </div>
          <div class="-u-font-big -u-color-primary">&#8358;0.00</div>
          <div>
            <button
              class="btn-outline px-5 py-3"
              style="border: 2px solid #0050bf;"
            >
              Withdraw
            </button>
          </div>
          <section class="royalty-wallet__footer">
            <div class="royalty-wallet__footer__item">
              <div
                class="royalty-wallet__footer__item--name -u-font-small-light"
              >
                Pending Payments
              </div>
              <div class="royalty-wallet__footer__item--money">&#8358;0.00</div>
            </div>
            <div class="royalty-wallet__footer__item">
              <div
                class="royalty-wallet__footer__item--name -u-font-small-light"
              >
                Total Balance
              </div>
              <div class="royalty-wallet__footer__item--money">&#8358;0.00</div>
            </div>
          </section>
        </section>
      </div>
    </section>
  </div>
  <div class="royalties--footer mt-2">*Last Updated - 31st January, 2020</div>
</section>
