<section class="admin-dash">
  <div class="admin-dash__top -u-grid-mobile">
    <div class="admin-dash__top__item admin-dash__top__item--1">
      <div class="admin-dash__top__item__left">
        <div class="admin-dash__top__item__left--price" id="totalSubscribers">
          ...
        </div>
        <div class="admin-dash__top__item__left--title">
          Total Subscribers
        </div>
      </div>
      <div class="admin-dash__top__item__right">
        <span
          class="iconify"
          data-icon="ion:people-outline"
          data-inline="false"
        ></span>
      </div>
    </div>

    <div class="admin-dash__top__item admin-dash__top__item--2">
      <div class="admin-dash__top__item__left">
        <div class="admin-dash__top__item__left--price" id="totalReleases">
          ...
        </div>
        <div class="admin-dash__top__item__left--title">
          Total Releases
        </div>
      </div>
      <div class="admin-dash__top__item__right">
        <span
          class="iconify"
          data-icon="subway:add-playlist"
          data-inline="false"
        ></span>
      </div>
    </div>

    <div class="admin-dash__top__item admin-dash__top__item--3">
      <div class="admin-dash__top__item__left">
        <div class="admin-dash__top__item__left--price" id="paidSubscribers">
          ...
        </div>
        <div class="admin-dash__top__item__left--title">
          Paid Subscribers
        </div>
      </div>
      <div class="admin-dash__top__item__right">
        <span
          class="iconify"
          data-icon="uil:money-withdraw"
          data-inline="false"
        ></span>
      </div>
    </div>

    <div class="admin-dash__top__item admin-dash__top__item--4">
      <div class="admin-dash__top__item__left">
        <div class="admin-dash__top__item__left--price" id="approvedReleases">
          ...
        </div>
        <div class="admin-dash__top__item__left--title">
          Approved Releases
        </div>
      </div>
      <div class="admin-dash__top__item__right">
        <span
          class="iconify"
          data-icon="emojione-monotone:check-mark-button"
          data-inline="false"
        ></span>
      </div>
    </div>
  </div>
  <div class="admin-dash__middle">
    <div class="-u-mini-comp" id="dash-graph"></div>
    <div class="-u-mini-comp" id="dash-doughnut"></div>
  </div>
  <div class="admin-dash__bottom -u-grid-mobile">
    <div class="-u-mini-comp logger">
      <div class="logger__title">
        <h3>Admin Log</h3>
      </div>
      <hr />
      <div class="logger__body" id="dash-adminlog"></div>
    </div>
    <div class="-u-mini-comp logger">
      <div class="logger__title">
        <h3>Subscribers Log</h3>
      </div>
      <hr />
      <div class="logger__body" id="dash-subscriberslog"></div>
    </div>
  </div>
</section>
