<section class="analytics mx-2 mx-md-5" id="analytics">
  <section class="d-flex flex-column flex-md-row mb-5">
    <div class="analytics__card">
      <div class="analytics__card--title">Total Streams</div>
      <div class="analytics__card--icon">
        <span
          class="iconify"
          data-icon="openmoji:headphone"
          data-inline="false"
        ></span>
      </div>
      <div class="analytics__card--number" id="analytics-total-streams">
        ...
      </div>
    </div>
    <div class="analytics__card">
      <div class="analytics__card--title">Total Downloads</div>
      <div class="analytics__card--icon">
        <span
          class="iconify"
          data-icon="bi:download"
          data-inline="false"
        ></span>
      </div>
      <div class="analytics__card--number" id="analytics-total-downloads">
        ...
      </div>
    </div>
    <div class="analytics__card">
      <div class="analytics__card--title">Top 3 stores</div>
      <div class="analytics__card--chart">
        <canvas id="admin-analytics-stores-graph"></canvas>
      </div>
    </div>
  </section>
  <section class="analytics__info d-flex flex-column flex-md-row">
    <div class="analytics__info__graph pl-md-4 pr-md-5">
      <div
        class="px-2 px-md-0 analytics__info__graph__options"
        id="analyticsOptions"
      >
        <div>
          <%- include('../partials/form/select', {formData: {name: 'type',
          value: ['stream', 'Streams'], options: [['stream', 'Streams'],
          ['download', 'Downloads']]}}) %>
        </div>
        <div>
          <%- include('../partials/form/select', {formData: {name: 'range',
          value: [7, `Last 7 days`], options: [[7, 'Last 7 days'], [14, `Last 14
          days`], [30, `Last 30 days`]]}}) %>
        </div>
      </div>
      <div class="analytics__info__graph--graph">
        <div
          class="analytics__info__graph--graph--container"
          id="analytics-graph-container"
        ></div>
      </div>
    </div>
    <div
      id="analytics-report"
      class="analytics__info__report text-center d-flex align-items-center justify-content-center"
    ></div>
  </section>
  <section
    class="container analytics__table mt-5 bg-white px-2 py-5 p-md-5"
    id="analytics-table"
  >
    <table data-mobile-responsive="true"></table>
  </section>
</section>
