<div class="-u-page-s">
  <%- include('../partials/filters/index', data = ['r', 'd']) %>
  <div class="-u-page" style="margin: 0;">
    <%- include partials/submissionsTable %>
  </div>
  <%- include('../partials/pagination') %>
</div>
