<%- include partials/header %>

<body>
  <div class="mail">
    <div class="action">
      <div class="action__head">
        <h1 class="action__head--text">VERIFY YOUR MAIL</h1>
      </div>
      <div class="action__body">
        <div><p>Thank you for creating a Fresible Music account</p></div>
        <div>
          <p>
            Verify your Email by clicking the button below to complete the set
            up
          </p>
        </div>
        <button class="mail-btn">
          <a href="<%=url %>">YES, THIS IS MY EMAIL</a>
        </button>
      </div>
    </div>
    <%- include partials/footer.ejs %>
  </div>
</body>
