<%- include partials/header %>
<body>
  <div class="mail">
    <div class="action">
      <div class="action__head">
        <h1 class="action__head--text">PASSWORD CHANGED</h1>
      </div>
      <div class="action__body">
        <div>
          <p>Hi <b><%= firstName %></b>,</p>
        </div>
        <div>
          <p>
            You recently changed the password associated with your Fresible
            Music account.
          </p>
        </div>
        <div>
          <p>
            If you did not make this change and believe your account has been
            compromised,
            <a href="https://music.fresible.com/contact-us"
              >kindly contact us.</a
            >
          </p>
        </div>
      </div>
    </div>
    <%- include partials/footer.ejs %>
  </div>
</body>
