<%- include partials/header %>
<body>
  <div class="mail">
    <div class="action">
      <div class="action__head">
        <h1 class="action__head--text">PASSWORD RESET</h1>
      </div>
      <div class="action__body">
        <div>
          <p>Hi,</p>
        </div>
        <div>
          <p>
            We received a request to reset your password. Please click the
            button below to create a new password.
          </p>
        </div>
        <div>
          <p>
            If you had no intention of changing your password, simply ignore
            this email. Rest assured your account is safe. <br />
            Thanks for being all in.
          </p>
        </div>
        <div>
          <p>(this is an automated message, please do not reply)</p>
        </div>
        <button class="mail-btn">
          <a href="<%=url %>">CLICK TO RESET PASSWORD</a>
        </button>
      </div>
    </div>
    <%- include partials/footer.ejs %>
  </div>
</body>
