<div class="analytics__empty">
  <div class="alert alert-info analytics__empty__alert">
    <div class="-u-font-bold">
      You haven't releases any music yet
    </div>
    <div>
      When your music has been released, you can check here to see how much your
      tracks are being streamed/downloaded.
    </div>
  </div>
</div>
