<div class="analytics__empty" id="analytics-empty" style="min-height: 100%;">
  <div
    class="alert alert-info analytics__empty__alert"
    style="max-width: 450px;"
  >
    <div class="-u-font-bold">
      No release yet
    </div>
    <div>
      Check back when you have a live release in stores.
    </div>
  </div>
</div>
