<select
    name="<%= name && name %>"
  <%= required && "required" %>
  class="form__input--element"
  ><option
    value=""
    >Select genre...</option
  >
  <!-- ["Alternative", "Alternative Rock", "Baladas y Boleros", "Big Band", "Blues", "Brazilian", "Children's", "Christian", "Comedy", "Contemporary Latin", "Country", "Easy Listening", "Educational", "Electronic", "Enka", "Experimental", "Fitness & Workout", "Folk", "French Pop", "French Pop", "German Folk", "German Pop", "Hip-Hop/Rap", "Holiday", "Inspirational", "Instrumental", "J-Pop", "Jazz", "K-Pop", "Karaoke", "Kayokyoku", "Latin", "Latin Jazz", "Metal", "New Age", "Pop", "Pop Latino", "Punk", "R&B", "Raices", "Reggae", "Regional Mexicano", "Rock", "Singer/Songwriter", "Soul", "Spoken Word", "Vocal/Nostalgia", "World", "Chinese", "Original Pilipino Music", "Trot"] -->
  <option value="Alternative">Alternative</option
  ><option value="Alternative Rock">Alternative Rock</option
  ><option value="Baladas y Boleros">Baladas y Boleros</option
  ><option value="Big Band">Big Band</option
  ><option value="Blues">Blues</option
  ><option value="Brazilian">Brazilian</option
  ><option value="Children's">Children's</option
  ><option value="Christian">Christian</option
  ><option value="Comedy">Comedy</option
  ><option value="Contemporary Latin">Contemporary Latin</option
  ><option value="Country">Country</option
  ><option value="Easy Listening">Easy Listening</option
  ><option value="Educational">Educational</option
  ><option value="Electronic">Electronic</option
  ><option value="Enka">Enka</option
  ><option value="Experimental">Experimental</option
  ><option value="Fitness & Workout">Fitness &amp; Workout</option
  ><option value="Folk">Folk</option
  ><option value="French Pop">French Pop</option
  ><option value="German Folk">German Folk</option
  ><option value="German Pop">German Pop</option
  ><option value="Hip-Hop/Rap">Hip-Hop/Rap</option
  ><option value="Holiday">Holiday</option
  ><option value="Inspirational">Inspirational</option
  ><option value="Instrumental">Instrumental</option
  ><option value="J-Pop">J-Pop</option
  ><option value="Jazz">Jazz</option
  ><option value="K-Pop">K-Pop</option
  ><option value="Karaoke">Karaoke</option
  ><option value="Kayokyoku">Kayokyoku</option
  ><option value="Latin">Latin</option
  ><option value="Latin Jazz">Latin Jazz</option
  ><option value="Metal">Metal</option
  ><option value="New Age">New Age</option
  ><option value="Pop">Pop</option
  ><option value="Pop Latino">Pop Latino</option
  ><option value="Punk">Punk</option
  ><option value="R&B">R&amp;B</option
  ><option value="Raices">Raices</option
  ><option value="Reggae">Reggae</option
  ><option value="Regional Mexicano">Regional Mexicano</option
  ><option value="Rock">Rock</option
  ><option value="Singer/Songwriter">Singer/Songwriter</option
  ><option value="Soul">Soul</option
  ><option value="Spoken Word">Spoken Word</option
  ><option value="Vocal/Nostalgia">Vocal/Nostalgia</option
  ><option value="World">World</option
  ><option value="Chinese">Chinese</option
  ><option value="Original Pilipino Music">Original Pilipino Music</option
  ><option value="Trot">Trot</option></select

>
