<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    /> -->
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Poppins:400,700&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/dist/bundle.css" />
  <title><%= title %> | Fresible Music Distribution</title>
  <!-- Facebook Pixel Code -->
  <script>
    !(function(f, b, e, v, n, t, s) {
      if (f.fbq) return;
      n = f.fbq = function() {
        n.callMethod
          ? n.callMethod.apply(n, arguments)
          : n.queue.push(arguments);
      };
      if (!f._fbq) f._fbq = n;
      n.push = n;
      n.loaded = !0;
      n.version = "2.0";
      n.queue = [];
      t = b.createElement(e);
      t.async = !0;
      t.src = v;
      s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s);
    })(
      window,
      document,
      "script",
      "https://connect.facebook.net/en_US/fbevents.js"
    );
    fbq("init", "2918289281524709");
    fbq("track", "PageView");
  </script>
  <noscript>
    <img
      height="1"
      width="1"
      src="https://www.facebook.com/tr?id=2918289281524709&ev=PageView
  &noscript=1"
    />
  </noscript>
  <!-- End Facebook Pixel Code -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-150022065-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-150022065-1");
  </script>
</head>
