<div class="-u-page" style="max-width: 450px">
  <div class="alert alert-info text-center">
    To change your email address, email changes would require contacting us to
    ensure the safety of our subscribers...
  </div>
  <div class="text-center">
    <a href="/contact-us"
      ><button class="btn-primary">Contact us &rarr;</button></a
    >
  </div>
</div>
