<div class="-u-page" style="max-width: 450px">
  <div class="alert alert-info text-center">
    To change your password, we require your existing password
  </div>
  <form class="form -u-form-input-spacing" id="changePassword">
    <div class="form__input">
      <label for="" class="form__input--label"
        ><span>Old password</span><span>*required</span></label
      ><input
        type="password"
        class="form__input--element"
        name="oldPassword"
        required
      />
    </div>
    <div class="form__input">
      <label for="" class="form__input--label"
        ><span>New password</span><span>*required</span></label
      ><input
        type="password"
        class="form__input--element"
        name="password"
        required
      />
    </div>
    <div class="form__input">
      <label for="" class="form__input--label"
        ><span>Confirm password</span><span>*required</span></label
      ><input
        type="password"
        class="form__input--element"
        name="confirmPassword"
        required
      />
    </div>
    <div class="form__submit">
      <div></div>
      <button class="btn-primary">Change password</button>
    </div>
  </form>
</div>
